.body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

@media (min-width: 1000px) and (max-width: 1400px) {

    .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, auto);
        align-self: center;
        justify-content: space-between;
        max-width: 960px;
        min-width: 960px;
        gap: 3em;
    }

}


@media (min-width: 1400px) {

    .body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-self: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
        gap: 2em;
    }

}

@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        height: -webkit-fill-available;
    }
}


.error {
    font-size: 0.8em;
    color: red;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1
}

.demo img {
    position: absolute;
    width: 80%;
}

.form {
    background-color: #F0E4E2;
    max-width: 400px;
    margin: 0 auto;
}

.checkout {
    display: flex;
    align-self: center;
    padding: 1em;
    width: 100%;
    max-width: 425px;
    flex-direction: column;
    background-color: #F0E4E2;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    gap: 2em;
}

.date {
    display: flex;
    gap: 2em;
}

.date>input {
    width: 33%;
    text-align: center;
    padding: 5px 0;
}

.name,
.phone,
.email,
.address {
    width: 100%;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.copyable {
    font-size: 0.8em;
    font-weight: 750;
    margin-bottom: 0.5em;
}

/* ========== Bill Component Styles ========== */
.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.infoValue {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.confirmationBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #453130;
    padding: 3em 0;
    gap: 0.5em;
    margin: 0 2em 2em;
}

.confirmationId {
    color: #FFFFFF;
    font-size: 1.1em;
}

.confirmationText {
    font-size: 1em;
    color: #FFE1E1;
}

.customerInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 1rem;
    color: #666;
}

.paymentSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 2em;
    padding: 0 1em;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 1rem;
}

@media (min-width: 375px) and (max-width: 600px) {

    .board,
    .checkout {
        max-width: 375px;
        border-radius: 5px;
    }

}

@media (min-width: 600px) and (max-width: 1000px) {

    .board,
    .checkout {
        max-width: 375px;
        border-radius: 5px;
    }

    .primary {
        max-width: unset;
        margin: unset;
        align-self: center;
        padding: 1.25em;
    }


    .scrollRight {
        transform: translateX(calc(5 * 470%));
    }

    .cart_container {
        grid-auto-columns: 4.25rem;
        gap: 0.5rem;
        width: calc(5 * 4.25rem + 4 * 0.5rem);
    }

    .total h3 {
        font-size: 1.25em;
    }

}

@media (min-width: 1000px) and (max-width: 1400px) {

    .main {
        grid-row: 2/8;
        align-self: center;
        padding-bottom: 2.3em;
    }

    .board {
        max-width: unset;
        border-radius: 5px;
        /* border-top-right-radius: 45%;
        border-top-left-radius: 45%; */
    }

    .demo {
        aspect-ratio: 3 / 4;
    }

    .primary {
        grid-row: 2/7;
        grid-column: 2;
        min-width: 100%;
        padding: 1em;
        margin-bottom: 1rem;
        overflow-y: auto;
        scrollbar-width: thin;
        /* Firefox: thin scrollbar */
    }

    .set>h3 {
        font-size: 1.1em;
    }

    .scrollRight {
        transform: translateX(calc(5 * 470%));
    }

    .cart_container {
        grid-auto-columns: 4.25rem;
        gap: 0.5rem;
        width: calc(5 * 4.25rem + 4 * 0.5rem);
    }

    .checkout {
        grid-row: 7/8;
        grid-column: 2;
        margin-bottom: 2.2em;
    }

    .main>.form {
        background-color: #F0E4E2;
    }

    .details {
        display: flex;
        flex-direction: column;
        padding: 1em 1em;
        margin-bottom: 1em;
        gap: 2em;
    }

    .date {
        display: flex;
        gap: 2em;
    }

    .date>input {
        width: 33%;
        text-align: center;
        padding: 5px 0;
    }

    .name,
    .phone,
    .email,
    .address {
        width: 100%;
        padding: 5px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .submit {
        padding: 0 1em 1em;
    }

    .checkout .total {
        /* border-top: 1px solid #000000; */
        padding-top: 1em;
        margin-bottom: 1em
    }

    .checkout>form>.submit>.total {
        border-top: 1px solid #000000;
        padding-top: 2em;
    }

    .example {
        font-size: 1.6em;
    }

    .total h3 {
        font-size: 1.25em;
    }

    .total span {
        font-size: 1.25em;
    }
}

@media (min-width: 1400px) {

    .main {
        grid-column: 1;
        align-self: center;
        padding-bottom: 1em;
    }

    .board {
        max-width: unset;
        border-radius: 5px;
        /* border-top-right-radius: 45%;
        border-top-left-radius: 45%; */
    }

    .demo {
        aspect-ratio: 3 / 4;
    }

    .primary {
        margin: 3.75em 0;
        padding: 1.25em;
        grid-column: 2;
        min-width: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .scrollRight {
        transform: translateX(calc(5 * 490%));
    }

    .cart_container {
        grid-auto-columns: 4.25rem;
        gap: 0.75rem;
        width: calc(5 * 4.25rem + 4 * 0.75rem);
    }

    .set>h3 {
        font-size: 1.1em;
    }

    .checkout {
        margin-top: 1em;
        grid-column: 3;
        min-width: 100%;
    }

    .qr {
        width: 70%;
    }

    .main>.form {
        width: 80%;
        background-color: #F0E4E2;
    }

    .details {
        display: flex;
        flex-direction: column;
        padding: 2em 1em;
        gap: 2em;
    }

    .date {
        display: flex;
        gap: 2em;
    }

    .date>input {
        width: 33%;
        text-align: center;
        padding: 5px 0;
    }

    .name,
    .phone,
    .email,
    .address {
        width: 100%;
        padding: 5px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .submit {
        padding: 0 1em 1em;
    }

    .checkout .total {
        border-top: 1px solid #000000;
        padding-top: 2em;
        margin-bottom: 1em
    }

    .example {
        font-size: 1.6em;
    }

    .total h3 {
        font-size: 1.25em;
    }

    .total span {
        font-size: 1.25em;
    }

}