section {
    margin: 0 auto;
    max-width: 1420px;
}

img {
    max-width: 100%;
}

.board {
    text-align: center;
    background-color: #F0E4E2;
    margin: 2em;
    font-size: 0.65rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 300px;
    aspect-ratio: 1 / 1
}

.demo img {
    position: absolute;
    width: 80%;
}

.primary {
    flex-grow: 1;
    max-width: 400px;
    max-height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 1.5em;
}

.primary > div {
    padding-bottom: 1em;
}

.checkout {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1em;
    display: flex;
    max-width: 85vw;
    flex-direction: column;
}

.total {
    display: flex;
    justify-content: space-between;
}

.checkout button {
    background-color: #331D1C;
    color: #fff;
    padding: 1em;
    border: none;
}

@media (min-width: 400px) and (max-width: 600px) {

    .main {
        max-width: 425px;
    }

    .demo {
        font-size: 0.85rem;
    }

    .primary {
        max-height: 33vh;
        padding-left: .5em;
    }

    .checkout {
        max-width: 400px;
    }

} 

/* @media (min-width: 800px) {

    .banner {
        font-size: 0.55rem;
    }

    .main {
        display: flex;
        justify-content: space-between;
        line-height: 1.6rem;
        margin: 0 auto;
        padding: 2em;
        max-width: 1420px;
        width: 80%;
    }

    .main {
        font-size: 0.85rem;
    }
    
    .path {
        text-align: center;
        font-size: 0.95rem;
    }

}  */

/* .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: auto;
    padding: 0 6em;
    gap: 5em
}

.demo {
    background-color: #F0E4E2;
    width: 35em;
    border-top-right-radius: 18em;
    border-top-left-radius: 18em
}

.output {
    margin: 30px 30px 0 30px;
    height: 35em;
}

.output img {
    display: flex;
    position: absolute;
    height: auto;
    width: 30em;
}

.example {
    text-align: center;
    padding: 1em;
}

.example a:visited {
    color: blue !important
}

.primary, .secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.checkout {
    display: flex;
    width: 100%;
    align-items: start;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
}

.total {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 20px;
}

.checkout button{
    border: none;
    background-color: #331D1C;
    height: 46px;
    width: 280px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
} */