@font-face {
    font-family: 'PoppinsVN';
    src: url('./DesignerVN-Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
 @font-face {
    font-family: 'PoppinsVN';
    src: url('./DesignerVN-Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}