
h1 {
    font-weight: 600;
    margin-top: 0;
}

h2 {
    font-weight: 600;
    color: #696969;
}

h1 a {
    color: #000000 !important;
}

a {
    text-decoration: none;
}

.path a {
    color: #868686 !important;
}

.header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 0.4rem;
    text-align: start;
    flex-shrink: 0;
}

.path {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 3;
}

.path a + a {
    /* border-left: 1px solid #696969; */
    margin-left: 1em;
}

@media (min-width: 300px) and (max-width: 900px) {

    .header {
        max-width: 425px;
    }

    .banner {
        font-size: 0.45rem;
    }

    .path {
        font-size: 0.7rem;
    }


} 

@media (min-width: 900px) {

    .header {
        max-width: 85vw;
    }

    .banner {
        font-size: 0.85rem;
    }

    .main {
        font-size: 0.85rem;
    }

    .path{
        font-size: 1.5rem;
    }

} 

@media (min-width: 1200px) {

    .header {
        max-width: 80vw;
        padding: 0;
    }


} 

@media (min-width: 1450px) {

    .header {
        max-width: 1350px;
        padding: 0;
    }


} 

