section p {
    font-size: 0.55rem;
}

section .information {
    display: flex;
    justify-content: space-between;
}

.image {
    position: relative;
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: repeat(6, minmax(3rem, 7rem));
    overflow-x: hidden;
    gap: 0.5em;
}

.row > div {
    background-color: #fff;
}

.row > div:nth-child(n+6) {
    display: none;
}

h3 {
    font-size: 0.85rem;
}

h4 {
    font-size: 0.65rem;
}

.size {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 0.5rem;
}

.option {
    position: relative;
    width: 10%;
    object-fit: contain;
    background-color: #fff;
}

.option img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* .imageRow > div > img{
    position: absolute;
} */

/* .inventory {
    width: 100%;
}

.inventory h2{
    font-size: 20px;
}

.information {
    display: flex;
    align-items: center;
    gap: 1em;
}

.amount {
    font-size: 14px;
}

.container {
    display: flex;
    align-items: center;
}

.image {
    display: flex;
    overflow: hidden;
    max-width: calc(68px * 5 + 1em * 5);
    padding-top: 0.5em;
    padding-right: 1em;
    gap: 1em;
}

.image div{
    position: relative;
    height: 68px;
    width: 68px;
    border: 1px solid #BABABA;
    cursor: pointer;
}

.image img{
    height: 68px;
    width: 68px;
}

.image div img[alt="selectedItem"] {
    position: absolute; 
}

.size {
    padding-top: 0.1em;
}

.size h3{
    font-size: 16px;
    color: #696868;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.options {
    display: flex;
    padding-top: 0.1em;
    gap: 1em;
}

.options div{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    height: 26px;
    width: 52px;
    cursor: pointer;
}

.options img{
    position: absolute;
    pointer-events: none;
}

.warning {
    color: #FF0404;
}

.extra .inventory {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
} */