.main {
    padding: 0 0.5em;
}

.board {
    text-align: center;
    background-color: #F0E4E2;
    margin: 0 auto;
    max-width: 425px;
    font-size: 0.65rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1
}

.demo img {
    position: absolute;
    width: 80%;
}

.primary {
    max-width: 425px;
    padding: 1em;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
}

.primary > div {
    padding-bottom: 1em;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.set {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #696868;
}

.set button {
    position: relative;
    border: none;
    color: #868686;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.6em;
}

/* ---- */

.outfit {
    width: 100%;
    background-color: #f6f4f0;
}

.scrollContainer {
    /* display: flex;
    gap: 0.5em;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; */
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    overflow-x: hidden;
    grid-template-columns: repeat(6, minmax(3rem, 7rem));
    gap: 0.25em;
    padding-top: 0.25em;
}

/* .scrollContainer::-webkit-scrollbar {
    display: none; 
} */

.item {
    position: relative;
}

.scrollContainer img {
    border: 1px solid #696868;
    background-color: #FFFFFF;
}

.edit {
    position: absolute;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    right: 0;
}

/* ----- */

.checkout {
    display: flex;
    align-self: center;
    padding: 1em;
    width: 100%;
    max-width: 425px;
    flex-direction: column;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total h3 {
    font-size: 1em;
}

.total p {
    font-size: 1em;
}

.checkout button {
    background-color: #331D1C;
    color: #fff;
    padding: 1em;
    border: none;
}

/* @media (min-width: 400px) and (max-width: 899px) {

    .main {
        max-width: 425px;
    }

    .demo {
        font-size: 0.85rem;
    }

    .primary {
        max-height: 33vh;
        padding: 0 0.5em;
    }

    .checkout {
        max-width: 400px;
    }

} 

@media (min-width: 900px) and (max-width: 1200px) {

    .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 85vw;
        height: 80%;
        margin: 0 auto;
    }

    .main {
        align-content: center;
        width: 42vw;
        height: 70vh;
    }

    .demo {
        min-height: 40vh;
    }
    
    .board {
        margin: 1em;
    }

    .board div {
        font-size: 1rem;
    }

    .primary {
        align-content: center;
        padding: 1em;
        min-height: 70vh;
    }
    
    .primary h3 {
        font-size: 1rem;
    }

    .total {
        font-size: 1.25rem;
    }

    .checkout button {
        font-size: 1rem;
    }

} 

@media (min-width: 1200px) {

    .body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        max-width: 85vw;
        height: 80%;
        margin: 0 5em;
        align-items: center;
    }

    .section {
        max-width: 100vw;
    }

    .main {
        width: 90%;
        grid-column: 1; 
        grid-row: 1 / 3; 
    }

    .demo {
        min-height: 50vh;
    }

    .board div {
        font-size: 1rem;
    }

    .primary {
        padding: 1.5em;
        min-width: 100%;
        min-height: 64vh;
        grid-column: 2;
        grid-row: 1;
    }
    
    .primary h3 {
        font-size: 1.25rem;
    }

    .total {
        font-size: 1.25rem;
    }

    .checkout {
        position: relative;
        grid-column: 2; 
        grid-row: 2;
        width: 100%;
        padding: 1em;
    }

    .checkout button {
        font-size: 1.25rem;
    }

}  */