.body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {

    .body {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(10, auto);
        align-self: center;
        justify-content: space-between;
        max-width: 960px;
        min-width: 960px;
        gap: 5em;
    }

} 


@media (min-width: 1400px) {

    .body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-self: center;
        justify-content: space-between;
        max-width: 1460px;
        min-width: 1460px;
        gap: 2em;
    }

} 

