.main {
    padding: 0 0.5em;
}

.board {
    text-align: center;
    background-color: #F0E4E2;
    margin: 0 auto;
    max-width: 425px;
    font-size: 0.65rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1
}

.example {
    font-size: 1.25em;
}

.demo img {
    position: absolute;
    width: 80%;
}

.primary {
    max-width: 425px;
    padding: 1em;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
}

.primary > div {
    padding-bottom: 1em;
}

.checkout {
    display: flex;
    align-self: center;
    padding: 1em;
    width: 100%;
    max-width: 425px;
    flex-direction: column;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total h3 {
    font-size: 1em;
}

.checkout button {
    background-color: #331D1C;
    color: #fff;
    padding: 1em;
    border: none;
}

@media (min-width: 600px) and (max-width: 1000px) {

    .board, .primary, .checkout {
        max-width: 500px;
    }

    .example {
        font-size: 1.5em;
    }

    .total h3 {
        font-size: 1.25em;
    }

} 


@media (min-width: 1000px) and (max-width: 1400px) {

    .main {
        grid-row: 2/8;
        align-self: center;
        padding-bottom: 1em;
    }

    .board {
        max-width: unset;
        border-top-right-radius: 45%;
        border-top-left-radius: 45%;
    }

    .demo {
        aspect-ratio: 3 / 4;
    }

    .primary {
        grid-row: 2/7;
        grid-column: 2;
        max-width: unset;
    }

    .checkout {
        grid-row: 6/8;
        grid-column: 2;
        max-width: unset;
    }

    .checkout button {
        font-size: 1.1em;
    }

    .example {
        font-size: 1.6em;
    }

    .total h3 {
        font-size: 1.25em;
    }

    .total span {
        font-size: 1.25em;
    }

} 


@media (min-width: 1400px) {

    .main {
        grid-row: 2/8;
        grid-column: 1;
        align-self: center;
        padding-bottom: 1em;
    }

    .board {
        max-width: unset;
        border-top-right-radius: 45%;
        border-top-left-radius: 45%;
    }

    .demo {
        aspect-ratio: 3 / 4;
    }

    .primary {
        grid-column: 2 ;
        grid-row: 2 / 8;
        display: grid;
        grid-template-columns: 1fr 1fr; /* left and right split */
        grid-template-rows: auto;       /* adjust as needed */
        gap: 5em;
        overflow: visible;
    }

    .checkout {
        grid-row: 7/8;
        grid-column: 3;
        max-width: unset;
    }

    .checkout button {
        font-size: 1.1em;
    }

    .example {
        font-size: 1.6em;
    }

    .total h3 {
        font-size: 1.25em;
    }

    .total span {
        font-size: 1.25em;
    }

} 


