.main {
    padding: 0 0.5em;
}

.board {
    text-align: center;
    background-color: #F0E4E2;
    margin: 0 auto;
    max-width: 425px;
    font-size: 0.65rem;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1
}

.example {
    font-size: 1.25em;
}

.demo img {
    position: absolute;
    width: 80%;
}

.primary {
    /* max-width: 425px; */
    padding: 1.25em;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
}

.primary > div {
    padding-bottom: 1em;
}

.primary > div:nth-of-type(7) > div:nth-of-type(2) {
    margin-bottom: 0.5em;
}

.checkout {
    display: flex;
    align-self: center;
    padding: 1em;
    width: 100%;
    max-width: 425px;
    flex-direction: column;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total h3 {
    font-size: 1em;
}

.checkout button {
    background-color: #331D1C;
    color: #fff;
    padding: 1em;
    border: none;
}

@media (min-width: 600px) and (max-width: 1000px) {

    .primary {
        max-width: unset;
        margin: unset;
        align-self: center;
        padding: 1.25em;
    }

    .example {
        font-size: 1.5em;
    }

    .total h3 {
        font-size: 1.25em;
    }

} 

@media (min-width: 1000px) and (max-width: 1400px) {

    .main {
        grid-row: 2/8;
        align-self: center;
        padding-bottom: 1em;
    }

    .board {
        max-width: unset;
        border-top-right-radius: 45%;
        border-top-left-radius: 45%;
    }

    .demo {
        aspect-ratio: 3 / 4;
    }

    .primary {
        grid-row: 2/7;
        grid-column: 2;
        min-width: 100%;
        padding: 0 1.25em;
        margin-bottom: 1rem;
    }

    .checkout {
        grid-row: 6/8;
        grid-column: 2;
        max-width: unset;
    }

    .checkout button {
        font-size: 1.1em;
    }

    .example {
        font-size: 1.6em;
    }

    .total h3 {
        font-size: 1.25em;
    }

    .total span {
        font-size: 1.25em;
    }

} 


@media (min-width: 1400px) {

    .main {
        grid-column: 1;
        align-self: center;
        padding-bottom: 1em;
    }

    .board {
        max-width: unset;
        border-top-right-radius: 45%;
        border-top-left-radius: 45%;
    }

    .demo {
        aspect-ratio: 3 / 4;
    }

    .primary {
        margin-left: 2em;
        padding: 1.25em;
        grid-column: 2 ;
        min-width: 100%;
        align-self: center;
    }

    .primary > div {
        padding-bottom: 0;
        margin-bottom: 3em;
        position: relative;
    }

    .checkout {
        grid-column: 3;
        min-width: 100%;
    }

    .checkout > div {
        margin-bottom: 3em;
    }

    .checkout .total {
        margin-bottom: 0
    }

    /* bow get extra margin bottom */
    .checkout > div:nth-of-type(3) > div:nth-of-type(2) {
        margin-bottom: 0.5em;
    }

    .checkout button {
        font-size: 1.1em;
    }

    .example {
        font-size: 1.6em;
    }

    .total h3 {
        font-size: 1.25em;
    }

    .total span {
        font-size: 1.25em;
    }

} 


